.container {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.report-card {
  padding: 80px;
  margin: 0;
}

.page {
  
  padding: 20px;  
  page-break-before: always;
  position: relative;
}

.report-title {
  font-size: 24px;
  margin: 20px 20px;
  color: #333;
}

.header-logo {
  width: 190px;  
  position: absolute;
  top: 10px;
  left: 20px;
}


.vulnerabilities-table {
  width: 60%;
  border-collapse: collapse;
  margin: 80px 0;
  background-color: #fff;
}


.vulnerabilities-table th,
.vulnerabilities-table td {
  border: 1px solid #d0d0d0;
  padding: 8px 12px;
  text-align: left;  
  vertical-align: top;
}


.vulnerabilities-table th {
  background-color: #e7f0ff;  
  color: #333;
  font-weight: bold;
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff;
}

.summary-table th,
.summary-table td {
  border: 1px solid #d0d0d0;
  padding: 8px 12px;
  text-align: left;
  vertical-align: top;
}

.summary-table th {
  background-color: #e7f0ff;
  color: #333;
  font-weight: bold;
}



.findings-table td {
  padding: 4px 8px;
  border: none; /* Remove the border */
}

/* ... [Your previous CSS] ... */

.info-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: #fff;
}

.info-table th, .info-table td {
  border: 1px solid #d0d0d0;
  padding: 8px 12px;
  text-align: left;
  vertical-align: top;
}

.info-table th {
  background-color: #e7f0ff;
  color: #333;
  font-weight: bold;
}

.info-table td:first-child {
  width: 150px; /* Fixed width for labels */
}

.info-table a {
  color: #007bff;
  text-decoration: none;
}

.info-table a:hover {
  text-decoration: underline;
}
.summary-table, .info-table, .findings-table, .vulnerabilities-table {
  width: 83%;  /* Adjust the width as per your requirement */
  margin-right: 10%;  /* Add a right margin */
}


.generate-button {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.generate-button:hover {
  background-color: #0056b3;
}
